.header{
    display: flex;
    max-width : 100%;
    height:8vh;
    justify-content: space-evenly;
    align-items: center;
    font-size : 13px;
    background:white;
    text-transform: capitalize;
    margin-left:  30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.category-section{
    opacity: 0.6;
    padding : 14px;
    
}
.category-text {
    margin-left : 4px;
}
.category-section:hover{
    background: #eeeeee; 
    border : 1px solid #e2dddd;
    border-radius : 2px;
}

.header-input-section{
    display:flex;
    border-radius: 3px;
    width:35%;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    background: #eeeeee; 
    margin-left: -10px;
}
.header-input-tag {
    width : 92%;
    outline: none;
    border-radius: 5px;
    border : none;
    margin-left : 15px;
    font-size: 14px;
    color: #666;
    background: #f0f0f0;
}

.search-icon-div{
    height: inherit;
    width : 8%;
    border :none;
    border-radius: 0 3px 3px 0;
    display : flex;
    align-items: center;
    justify-content: center;

}
.search-icon{
    color: rgb(218, 33, 42);
    
}
.search-icon-div:hover{
   background: rgb(218, 33, 42);
   color: white;
}
.header-links{
    color:rgb(73, 72, 72);
    text-decoration: none;
    padding: 15px 15px;
    font-weight: 300;
    font-size : 12px;
    margin-left : -20px;

}
.header-links:hover{
    background: #eeeeee; 
    border : 1px solid #e2dddd;
    border-radius: 1px;
}
.teach-link{
    margin-left: -35px;
}
.cart-sign-log-section{
    display: flex;
    width : 20%;
    height : 70%;
    align-items: center;
    justify-content: space-around;
    border-left: 1px solid #c5c2c2;
    margin-left: -30px;
    
}
.log-in{
    color: #666;
    padding : 15px 20px ;
    text-decoration: none;
    border : 1px solid #666;
    border-radius: 3px;
    margin-left: -75px;

}
.log-in:hover{
    border: 1px solid black;
    color : black;
}
.sign-up{
    color:white;
    padding : 15px 20px ;
    text-decoration: none;
    background: rgb(218, 33, 42);
    border-radius: 3px;
    margin-left: -90px;

}
.sign-up:hover{
    background:rgb(172, 15, 22) ;
}
.shopping-cart-div{
    padding: 12px 15px ;
    margin-left : -30px;
}
.shopping-cart-div:hover{
    background: #eeeeee; 
    border : 1px solid #e2dddd;
    border-radius : 50%;
}